<h1>About Crably and Me</h1>

<div>
<p>Hello there! My name is Cody Buffaloe and I am the creator of crab.ly. I created this app for people like myself who
own hermit crabs and want to be able to track their crabitat's parameters. You can create a tank profile, showing how many
crabs are living in your tank, and track your temperature and humidity. You can also create a page for each of your crabs and
show off their best side with a picture, keep track of their molts, and keep a list of their favorite foods!</p>

<h2>Pardon my dust! We are currently under development and will be up shortly!</h2>
</div>

<p>© <%= Date.today.year %> Crably.</p>

